<%- include('../includes/head.ejs')%>
</head>
<!-- end::Head -->
<!-- end::Body -->

<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- BEGIN: Header -->
		<%- include('../includes/header.ejs')%>
		<!-- END: Header -->
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
			<!-- BEGIN: Left Aside -->
			<%- include('../includes/left-aside.ejs')%>
			<!-- END: Left Aside -->
			<div class="m-grid__item m-grid__item--fluid m-wrapper">
				<!-- BEGIN: Subheader -->
				<div class="m-subheader ">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="m-subheader__title m-subheader__title--separator">
								Dashboard
							</h3>
							<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
								<li class="m-nav__item m-nav__item--home">
									<a href="#" class="m-nav__link m-nav__link--icon">
										<i class="m-nav__link-icon la la-home"></i>
									</a>
								</li>
								<li class="m-nav__separator">
									>
								</li>
								<li class="m-nav__item">
									<a href="" class="m-nav__link">
										<span class="m-nav__link-text">
											Dashboard
										</span>
									</a>
								</li>
								<li class="m-nav__separator">
									>
								</li>
								<li class="m-nav__item">
									<a href="" class="m-nav__link">
										<span class="m-nav__link-text">
											<% if (editing) { %>Edit Data Talent<% } else { %>Add Data Talent<% } %>
										</span>
									</a>
								</li>
							</ul>
						</div>
						<div>
							<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
								m-dropdown-toggle="hover" aria-expanded="true">
								<a href="#"
									class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
									<i class="la la-plus m--hide"></i>
									<i class="la la-ellipsis-h"></i>
								</a>
								<div class="m-dropdown__wrapper">
									<span
										class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav">
													<li class="m-nav__section m-nav__section--first m--hide">
														<span class="m-nav__section-text">
															Quick Actions
														</span>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-share"></i>
															<span class="m-nav__link-text">
																Activity
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-chat-1"></i>
															<span class="m-nav__link-text">
																Messages
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-info"></i>
															<span class="m-nav__link-text">
																FAQ
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a href="" class="m-nav__link">
															<i class="m-nav__link-icon flaticon-lifebuoy"></i>
															<span class="m-nav__link-text">
																Support
															</span>
														</a>
													</li>
													<li class="m-nav__separator m-nav__separator--fit"></li>
													<li class="m-nav__item">
														<a href="#"
															class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
															Submit
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END: Subheader -->
				<div class="m-content">
					<div class="row">
						<div class="col-md-12">
							<!--begin::Portlet-->
							<div class="m-portlet m-portlet--tab">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text">
												<% if (editing) { %>Edit Data Talent<% } else { %>Add Data Talent<% } %>
											</h3>
										</div>
									</div>
								</div>
								<!--begin::Form-->
								<form class="m-form m-form--fit m-form--label-align-right"
									action="/<% if (editing) { %>dashboard/dedit-data-talent<% } else { %>dashboard/add-data-talent<% } %>"
									method="POST">
									<input type="hidden" name="idTeamdata" id="idTeamdata" value="<% if (editing) { %><%= teamdata.id %><% } %>">
									<div class="m-portlet__body">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group m-form__group hidden">
													<label for="id_peserta">
														ID Peserta
													</label>
													<input type="text"
														class="form-control m-input m-input--solid disabled"
														name="id_peserta" id="id_peserta" placeholder="ID Peserta"
														value="<% if (editing) { %><%= teamdata.id_peserta %><% } %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group m-form__group hidden">
													<label for="nama_tim">
														Nama Tim
													</label>
													<input type="text"
														class="form-control m-input m-input--solid disabled"
														name="nama_tim" id="nama_tim" placeholder="Nama Tim"
														value="<% if (editing) { %><%= teamdata.nama_tim %><% } %>">
												</div>
											</div>
											<div class=" col-md-4">
												<div class="form-group m-form__group">
													<label for="batch_inovation">
														Batch Inovation
													</label>
													<input type="text" class="form-control m-input m-input--solid"
														name="batch_inovation" id="batch_inovation" placeholder="Batch Inovation"
														value="<% if (editing) { %><%= teamdata.batch_inovation %><% } %>">
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group m-form__group">
													<label for="nik">
														NIK
													</label>
													<input type="text" class="form-control m-input m-input--solid"
														name="nik" id="nik" placeholder="NIK"
														value="<% if (editing) { %><%= teamdata.nik %><% } %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group m-form__group">
													<label for="nama">
														Nama
													</label>
													<input type="text" class="form-control m-input m-input--solid"
														name="nama" id="nama" placeholder="Nama"
														value="<% if (editing) { %><%= teamdata.nama %><% } %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group m-form__group">
													<input type="hidden" value="<% if (editing) { %><%= teamdata.bp %><% } %>" id="bpEdit">
													<label for="bp">
														BP
													</label>
													<select class="form-control m-input m-input--solid" name="bp"
														id="bp">
														<option value="-">
															-
														</option>
														<option value="I">
															I
														</option>
														<option value="II">
															II
														</option>
														<option value="III">
															III
														</option>
														<option value="IV">
															IV
														</option>
														<option value="V">
															V
														</option>
														<option value="VI">
															VI
														</option>
													</select>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-4">
													<div class="form-group m-form__group">
														<input type="hidden" value="<% if (editing) { %><%= teamdata.c_level %><% } %>" id="c_levelEdit">
														<label for="c_level">
															C-Level
														</label>
														<select class="form-control m-input m-input--solid" name="c_level"
															id="c_level">
															<option value="CEO">
																CEO
															</option>
															<option value="COO">
																COO
															</option>
															<option value="CDO">
																CDO
															</option>
															<option value="CTO">
																CTO
															</option>
															<option value="CMO">
																CMO
															</option>
															<option value="CFO">
																CFO
															</option>
														</select>
													</div>
												</div>
											<div class="col-md-4">
												<div class="form-group m-form__group">
													<label for="no_telp">
														No. Telepon
													</label>
													<input type="text" class="form-control m-input m-input--solid"
														name="no_telp" id="no_telp" placeholder="No. Telepon"
														value="<% if (editing) { %><%= teamdata.no_telp %><% } %>">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group m-form__group">
													<label for="email">
														Email
													</label>
													<input type="text" class="form-control m-input m-input--solid"
														name="email" id="email" placeholder="Email"
														value="<% if (editing) { %><%= teamdata.email %><% } %>">
												</div>
											</div>
										</div>
										<br>
										<hr>
										<br>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group m-form__group">
													<input type="hidden" value="<% if (editing) { %><%= teamdata.tim_struktur %><% } %>" id="tim_strukturEdit">
													<label for="tim_struktur">
														Tim Struktur
													</label>
													<select class="form-control m-input m-input--solid" name="tim_struktur"
														id="tim_struktur">
														<option value="HUSTLER">
															HUSTLER
														</option>
														<option value="HIPSTER">
															HIPSTER
														</option>
														<option value="HACKER">
															HACKER
														</option>
													</select>
												</div>
											</div>
											<div class=" col-md-6">
												<div class="form-group m-form__group">
													<input type="hidden" value="<% if (editing) { %><%= teamdata.flagging %><% } %>" id="flaggingEdit">
													<label for="flagging">
														Flagging
													</label>
													<select class="form-control m-input m-input--solid" name="flagging" id="flagging">
														<option value="ACTIVE TALENT">
															ACTIVE TALENT
														</option>
														<option value="ALUMNI">
															ALUMNI
														</option>
														<option value="MOVE TEAM">
															MOVE TEAM
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="unit_kerja_asal">
													Unit Kerja Asal
												</label>
												<input type="text" class="form-control m-input m-input--solid disabled"
													name="unit_kerja_asal" id="unit_kerja_asal" placeholder="Unit Kerja Asal"
													value="<% if (editing) { %><%= teamdata.unit_kerja_asal %><% } %>">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group m-form__group">
												<label for="unit_kerja_saat_ini">
													Unit Kerja Saat Ini
												</label>
												<input type="text" class="form-control m-input m-input--solid disabled"
													name="unit_kerja_saat_ini" id="unit_kerja_saat_ini" placeholder="Unit Kerja Saat Ini"
													value="<% if (editing) { %><%= teamdata.unit_kerja_saat_ini %><% } %>">
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class=" col-md-6">
											<div class="form-group m-form__group">
												<label for="loker_asal">
													Loker Asal
												</label>
												<input type="text" class="form-control m-input m-input--solid"
													name="loker_asal" id="loker_asal" placeholder="Contoh: Jakarta, Medan, dll"
													value="<% if (editing) { %><%= teamdata.loker_asal %><% } %>">
											</div>
										</div>										
										<div class=" col-md-6">
											<div class="form-group m-form__group">
												<label for="loker_saat_ini">
													Loker Saat Ini
												</label>
												<input type="text" class="form-control m-input m-input--solid"
													name="loker_saat_ini" id="loker_saat_ini" placeholder="Contoh: Jakarta, Medan, dll"
													value="<% if (editing) { %><%= teamdata.loker_saat_ini %><% } %>">
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group m-form__group">
												<input type="hidden" value="<% if (editing) { %><%= teamdata.tipe_inovator %><% } %>" id="tipe_inovatorEdit">
												<label for="tipe_inovator">
													Tipe Innovator
												</label>
												<select class="form-control m-input m-input--solid" name="tipe_inovator" id="tipe_inovator">
													<option value="100%">
														100%
													</option>
													<option value="40/60">
														40/60
													</option>
													<option value="Bootcamp">
														Bootcamp
													</option>
													<option value="NotJoin">
														NotJoin
													</option>
												</select>
											</div>
										</div>
										<div class=" col-md-6">
											<div class="form-group m-form__group">
												<input type="hidden" value="<% if (editing) { %><%= teamdata.status %><% } %>" id="statusEdit">
												<label for="status">
													Status
												</label>
												<select class="form-control m-input m-input--solid" name="status" id="status">
													<option value=1>
														Active
													</option>
													<option value=0>
														Inactive
													</option>
												</select>
											</div>
										</div>
									</div>
									<br>
									<div class="m-portlet__foot m-portlet__foot--fit">
										<div class="m-form__actions">
											<input type="hidden" value="<%= csrfToken %>" name="_csrf" id="csrfToken">
											<button type="submit" class="btn btn-success">
												<% if (editing) { %>Update Data Talent<% } else { %> Submit <% } %>
											</button>
											<% if (editing) { %>
												<a href="/dashboard/view-team-data" class="btn btn-secondary"> Cancel </a>
											<% } else { %>
											<button type="reset" class="btn btn-secondary"> Cancel </button>
											<% } %>
										</div>
									</div>
								</form>
								<!--end::Form-->
							</div>
							<!--end::Portlet-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Body -->
		<!-- begin::Footer -->
		<%- include('../includes/footer.ejs')%>
		<!-- end::Footer -->
	</div>
	<!-- end:: Page -->
	<!-- begin::Quick Sidebar -->
	<%- include('../includes/quick-sidebar.ejs')%>
	<!-- end::Quick Sidebar -->
	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->
	<!-- begin::Quick Nav -->
	<%- include('../includes/quick-nav.ejs')%>
	<!-- begin::Quick Nav -->
	<!--begin::Base Scripts -->
	<%- include('../includes/base-scripts.ejs')%>
	<!--end::Base Scripts -->
	<!--begin::Page Snippets -->
	<script src="/assets/app/js/edit-teamdata.js" type="text/javascript"></script>
	<!--end::Page Snippets -->
</body>
<!-- end::Body -->

</html>